#photoTable img{
    padding: 10px;
    height: 250px;
}

.tagDiv{
    border: solid 2px black;
    border-radius: 5px;
    margin: 25px 0 25px 0;
    padding: 0 5px 5px 5px;
}

.toDelete{
    border: 3px solid red;
    border-radius: 5px;
}
.classifierTable{
        /* position: fixed;
        height: 24px;
        left: 5px;
        top: 5px;
        max-width: 550px; */
    }


.classifierTable code {
    font-size: 16px;
}
.container {
    /* margin: 0 100px 0 auto;
    padding-right: 0; */
}

.testPhotos img{
    padding: 10px;
    height: 250px;
}
canvas{
    padding: 10px;
}

.myTestImgDiv{
    margin-top: 20px;
}

.btn{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}



#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }

  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }